<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>xxx.OneTap.processRecurringTransactions</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>processing</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>onetap</string>
			</array>
			<key>CFBundleURLName</key>
			<string>com.jimmyhew.OneTap</string>
		</dict>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>OneTap needs camera access to capture receipts for transaction import.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>OneTap needs photo library access to import receipt images for transaction import.</string>
</dict>
</plist>
